@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.header-text {
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: var(--subtitle_color);
}